<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('commons/head.ejs'); %>
</head>
<body>
    <%- include('commons/header.ejs'); %>
    
    <!-- datos personales del perfil -->
    <div class="contenedor-datos-con-tabs">
        <div class="tabs-con-acciones">
            <div class="tabs">
                <a href="javascript:void(0)" id="datos-personales-tab" class="tabActivo">Datos personales</a>
                <a href="/ver_vehiculo" id="vehiculos-tab" class="tabDesactivado">Vehículos</a>
            </div>
            <div class="acciones">
                <button id="emitir-poliza" class="activo configBotones" onclick="window.location.href='/poliza'">
                    <span class="material-symbols-outlined botones">download_for_offline</span>Emitir póliza
                </button>
                <button id="eliminar-cliente" class="oculto configBotones cancelar">
                    <span class="material-symbols-outlined botones">delete</span>Eliminar Cliente
                </button>
                <button id="editar-perfil" class="activo configBotones" onclick="editarPerfil()">
                    <span class="material-symbols-outlined botones">edit</span>Editar perfil
                </button>
            </div>
        </div>
        
        <div class="botones-edicion oculto">
            <button id="guardar" class="configBotones" onclick="guardarCambios()">
                <span class="material-symbols-outlined botones">check</span>Guardar
            </button>
            <button id="cancelar" class="configBotones cancelar" onclick="cancelarEdicion()">
                <span class="material-symbols-outlined botones">close</span>Cancelar
            </button>
            <button id="agregar-vehiculo" class="configBotones" onclick="agregarVehiculo()">
                <span class="material-symbols-outlined botones">add_circle</span>Agregar vehículo
            </button>
        </div>

        <div class="contenedor-datos">
            <div class="info-personal">
                <h2>Información Personal de <%= usuario.nombre %> <%= usuario.apellido %></h2>
                <div class="info-grid">
                    <div class="colum1">
                        <label for="nombre">Nombre </label>
                        <input type="text" id="nombre" value=" <%= usuario.nombre %>" disabled>
                        <label for="apellido">Apellido </label>
                        <input type="text" id="apellido" value=" <%= usuario.apellido %>" disabled>
                        <label for="dni">DNI </label>
                        <input type="number" id="dni" value=" <%= usuario.dni %>" disabled>
                        <label for="email">Email </label>
                        <input type="email" id="email" value="<%= usuario.email %>" disabled>
                    </div>
                    <div class="colum2">
                        <label for="direccion">Dirección </label>
                        <input type="text" id="direccion" value="<%= usuario.direccion %>" disabled>
                        <label for="celular">Celular </label>
                        <input type="text" id="celular" value="<%= usuario.celular %>" disabled> 
                        <label for="ciudad">Ciudad </label>
                        <input type="text" id="ciudad" value="<%= usuario.ciudad %>" disabled>
                        <label for="provincia">Provincia </label>
                        <input type="text" id="provincia" value="<%= usuario.provincia %>" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/panel.js"></script>
    <script src="/public/js/perfil_usuario.js"></script>
</body>
</html>
