<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('commons/head.ejs'); %>
</head>
<body>
    <%- include('commons/header.ejs'); %>
    
    <div class="contenedor-datos-con-tabs">
        
        <div class="tabs-con-acciones">
            <div class="tabs">
                <a href="/perfil_usuario" id="datos-personales-tab" class="tabActivo">Datos personales</a>
                <a href="javascript:void(0)" id="vehiculos-tab" class="tabDesactivado">Vehículos</a>
            </div>
            <div class="acciones">
                <button id="emitir-poliza" class="activo configBotones" onclick="window.location.href='/poliza'">
                    <span class="material-symbols-outlined botones">download_for_offline</span>Emitir póliza
                </button>
                <button id="eliminar-cliente" class="oculto configBotones cancelar">
                    <span class="material-symbols-outlined botones">delete</span>Eliminar Cliente
                </button>
                <button id="editar-perfil" class="activo configBotones" onclick="editarPerfil()">
                    <span class="material-symbols-outlined botones">edit</span>Editar perfil
                </button>
            </div>
        </div>
        <div class="botones-edicion oculto">
            <button id="guardar" class="configBotones">
                <span class="material-symbols-outlined botones">check</span>Guardar
            </button>
            <button id="cancelar" class="configBotones cancelar">
                <span class="material-symbols-outlined botones">close</span>Cancelar
            </button>
            <button id="agregar-vehiculo" class="configBotones">
                <span class="material-symbols-outlined botones">add_circle</span>Agregar vehículo
            </button>
        </div>
        

        <div class="contenedor-datos">
            <div class="vehiculos-asegurados">
                <h2>Vehículos Asegurados</h2>
                <div class="vehiculo">
                    <div class="info-grid">
                        <div class="colum1">
                            <label>Fotos </label>
                            <button onclick="verFotos('vehiculo1')" class="ver-fotos configBotones">
                                <span class="material-symbols-outlined botones">visibility</span>Ver
                            </button>

                            <label for="tipo_vehiculo">Tipo de Vehículo </label>
                            <select id="tipo_vehiculo" value="<%= vehiculo.tipo_vehiculo %>">
                                <option value="" disabled selected>Selecciona un tipo de vehículo</option>
                            </select>

                            <label for="patente">Patente </label>
                            <input type="text" id="patente" value="<%= vehiculo.patente %>">
                            
                            <label for="uso_vehiculo">Uso del Vehículo </label>
                            <select id="uso_vehiculo" value="<%= vehiculo.uso_vehiculo %>">
                                <option value="" disabled selected>Selecciona un tipo de uso</option>
                            </select>

                            <label for="anio">Año </label>
                            <input type="number" id="anio" value="<%= vehiculo.anio %>">
                            
                            <label for="vigencia_desde">Vigencia Desde </label>
                            <input type="date" id="vigencia_desde" value="<%= vehiculo.vigencia_desde %>">

                            <label for="vigencia_hasta">Vigencia Hasta </label>
                            <input type="date" id="vigencia_hasta" value="<%= vehiculo.vigencia_hasta %>">
                        </div>
    
                        <div class="colum2">
                            <label for="marca">Selecciona la marca</label>
                            <select id="idMarca" name="idMarca" autocomplete="off" value="<%= vehiculo.marca %>">
                                <option value="" disabled selected>Selecciona una marca</option>
                            </select>
                                      
                            <label for="modelo">Selecciona el modelo</label>
                            <select id="idModelo" name="idModelo" autocomplete="off" value="<%= vehiculo.modelo %>">
                                <option value="" disabled selected>Selecciona un modelo</option>
                            </select>

                            <label for="anio_vehiculo">Año </label>
                            <select id="anio_vehiculo" name="anio" autocomplete="off" value="<%= vehiculo.anio_vehiculo %>">
                                <option value="" disabled selected>Selecciona un año</option>
                            </select>

                            <label for="tipo_seguro">Tipo de seguro </label>
                            <select id="tipo_seguro" value="<%= vehiculo.tipo_seguro %>">
                                <option value="" disabled selected>Selecciona un plan</option>
                            </select>

                            <label for="suma_asegurada">Suma asegurada </label>
                            <input type="number" id="suma_asegurada" value="<%= vehiculo.suma_asegurada %>">

                            <label for="premio_total">Premio total trimestral (en pesos) </label>
                            <input type="number" id="premio_total" value="<%= vehiculo.premio_total %>">

                            <label for="premio_mensual">Premio en cuotas</label>
                            <input type="number" id="premio_mensual" value="<%= vehiculo.premio_mensual %>">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/public/js/panel.js"></script>
    <script src="/public/js/perfil_usuario.js"></script>
    <script src="/public/js/vehiculo.js"></script>
</body>
</html>
