<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('commons/head.ejs'); %>
</head>
<body>
    <%- include('commons/header.ejs'); %>

    <div class="contenedor-datos">
        <!-- Contenedor para los filtros -->
        <div class="filtros">
            <div class="ordenar-menu">
                <button class="ordenar configBotones"><span class="material-symbols-outlined botones">swap_vert</span>Ordenar por</button>
                <div class="ordenar-menu-oculto">
                    <a href="#" data-sort="nombre">Nombre</a>
                    <a href="#" data-sort="fecha">Fecha</a>
                </div>
            </div>
            <div class="filtrar-menu">
                <button class="filtrar configBotones"><span class="material-symbols-outlined botones">sort</span>Filtrar</button>
                <div class="filtrar-menu-oculto">
                    <a href="#" data-filter="auto">Auto</a>
                    <a href="#" data-filter="moto">Moto</a>
                </div>
            </div>
            <div class="buscador">
                <input type="text" placeholder="Buscar cliente...">
                <div class="icono-busc">
                    <i class="fi fi-rc-search"></i>
                </div>
            </div>
        </div>

        <div>
            <h3>Listado de clientes</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Vehículos</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (clientes.length > 0) { %>
                        <% clientes.forEach(function(cliente) { %>
                            <tr>
                                <td><%= cliente.id_cliente %></td>
                                <td><%= cliente.nombre %></td>
                                <td><%= cliente.tipo_vehiculo %></td>
                                <td><%= cliente.email %></td>
                                <td><%= cliente.celular %></td>
                                <td>
                                    <a class="configBotones" href="/perfil_usuario/<%= cliente.id %>"><span class="material-symbols-outlined opciones" title="Ver">visibility</span></a>
                                    <a class="configBotones" href="/crear_usuario/<%= cliente.id %>"><span class="material-symbols-outlined opciones" title="Crear usuario">person_add</span></a>
                                </td>
                                
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="6">No hay clientes disponibles</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        
    </div>

    <script src="/public/js/panel.js"></script>
    <script src="/public/js/perfil_usuario.js"></script>
    <script src="/public/js/solicitudes.js"></script>

</body>
</html>
