<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Listado clientes | Prisma Seguros</title>

    <!-- FAVICON  -->
    <link rel="icon" href="/public/img/logo.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/panel_estilos_grales.css">
    <link rel="stylesheet" href="/public/css/panel_estilo_elementos.css">

    <!-- ICONOS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="icon" href="/public/img/logo.ico">
</head>
<body>
    <header>
        <button class="menu configBotones"><span class="material-symbols-outlined headIcon">menu</span></button>
        <button class="usuario configBotones"><span class="material-symbols-outlined headIcon">account_circle</span>Tú</button>
        
        <div class="menu-hamburguesa">
            <a href="/panel" data-content="Clientes" class="configBotones"><span class="material-symbols-outlined botones">Home</span>Inicio</a>
            <a href="/vistaClientes" data-content="Clientes" class="configBotones"><span class="material-symbols-outlined botones">format_list_bulleted</span>Clientes</a>
            <a href="/solicitudes" data-content="Solicitudes" class="configBotones"><span class="material-symbols-outlined botones">visibility</span>Solicitudes</a>
            <a href="/cargar_usuario" data-content="addCliente" id="cargar-cliente" class="configBotones"><span class="material-symbols-outlined botones">upgrade</span>Cargar cliente</a>
            <a href="/crear_usuario" data-content="addUsuario" id="cargar-usuario" class="configBotones"><span class="material-symbols-outlined botones">add</span>Crear usuario</a>
            <a href="" data-content="addCobertura" id="cargar-coberturas" class="configBotones"><span class="material-symbols-outlined botones">open_run</span>Coberturas</a>
        </div>
        
        <div class="menu-usuario">
            <a href="/cerrar-sesion" class="btn btn-primary" id="cerrar-sesion">Cerrar sesión</a>
        </div>
    </header>

    <div class="contenedor-datos">
        <!-- Contenedor para los filtros -->
        <div class="filtros">
            <div class="ordenar-menu">
                <button class="ordenar configBotones"><span class="material-symbols-outlined botones">swap_vert</span>Ordenar por</button>
                <div class="ordenar-menu-oculto">
                    <a href="#" data-sort="nombre">Nombre</a>
                    <a href="#" data-sort="fecha">Fecha</a>
                </div>
            </div>
            <div class="filtrar-menu">
                <button class="filtrar configBotones"><span class="material-symbols-outlined botones">sort</span>Filtrar</button>
                <div class="filtrar-menu-oculto">
                    <a href="#" data-filter="auto">Auto</a>
                    <a href="#" data-filter="moto">Moto</a>
                </div>
            </div>
            <div class="buscador">
                <input type="text" placeholder="Buscar cliente...">
                <div class="icono-busc">
                    <i class="fi fi-rc-search"></i>
                </div>
            </div>
        </div>

        <div>
            <h3>Listado de clientes</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Vehículos</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (clientes.length > 0) { %>
                        <% clientes.forEach(function(cliente) { %>
                            <tr>
                                <td><%= cliente.id_cliente %></td>
                                <td><%= cliente.nombre %></td>
                                <td><%= cliente.tipo_vehiculo %></td>
                                <td><%= cliente.email %></td>
                                <td><%= cliente.celular %></td>
                                <td>
                                    <a class="configBotones" href="/perfil_usuario/<%= cliente.id %>"><span class="material-symbols-outlined opciones" title="Ver">visibility</span></a>
                                    <a class="configBotones" href="/crear_usuario/<%= cliente.id %>"><span class="material-symbols-outlined opciones" title="Crear usuario">person_add</span></a>
                                </td>
                                
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="6">No hay clientes disponibles</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        
    </div>

    <script src="/public/js/panel.js"></script>
    <script src="/public/js/perfil_usuario.js"></script>
    <script src="/public/js/solicitudes.js"></script>

</body>
</html>
